# Claude Code configuration and documentation
.claude/
claude.md
claude.local.md
# Continue.dev configurations and documentation
.continue/

# macOS
.DS_Store

# local documenation, scripts and log files
docs/
logs/
scripts/
*.log